@use '../styles/mixin.scss' as mixin;


    .expandedmenu {
       position: fixed;
       top:-100vh;
       left:0;
       width:100%;
       height:100vh;
       opacity: 0;
       visibility: hidden;
       background-color: mixin.$color-darkblue;
       z-index: 9;
       
    }