@use '../styles/mixin.scss' as mixin;


    .header {
        width:100%;
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index: 10;
        color:mixin.$color-white;
        &.scrolleddown {
            background-color: mixin.$color-white;
            color:mixin.$color-darkblue;
            transition:0.6s all;
            .container {
                .holdcontainer {
                    @include mixin.small {
                        padding:15px 0px;
                    }
                }
            }
        }
        &.menuclicked {
            background-color: mixin.$color-darkblue;
            color:mixin.$color-white;
            transition-delay: 1s;
        }
        &.scrolleddown {
            &.menuclicked {
                transition-delay: 0.2s;
            }
        }
        .container {
            margin:0 auto;
            padding:0px 0px;
            .incentive {
                margin:0 auto;
                padding:6px 0px;
                text-align: center;
                background-color: mixin.$color-pastel;
                color:mixin.$color-white;
                @include mixin.small {
                    padding:10px 0px;
                }
            }
            .holdcontainer {
                padding:12px 0px;
                display: flex;
                flex-direction: row;
                margin:0 auto;
                width:95%;
                @include mixin.small {
                    padding:30px 0px;
                }
                .col {
                    flex:1 auto;
                    &.rightside {
                        text-align: right;

                        .links {
                            display: none;
                            @include mixin.small {
                                display: inline-block;
                            }
                            .link {
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 30px;
                                font-family: utile-display,sans-serif;
                                text-transform: uppercase;
                                letter-spacing: 0.18em;
                                font-size:1rem;
                            }
                        }
                    }
                    .logoicon {
                        width:120px;
                        height:40px;
                        position: relative;
                        background-size: contain;
                        background-repeat: no-repeat;
                        &.scrolleddown {
                            width:120px;
                            height:40px;
                        }
                        span {
                            display: none;
                        }
                        @include mixin.tablet {
                            width:150px;
                        }
                    }
                    .hamburgerIcon {
                        width:40px;
                        height:20px;
                        transform: translateY(7px);
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                        &.scrolleddown {
                            span {
                                background-color: mixin.$color-darkblue;
                            }
                        }
                        &.menuclicked {
                            span {
                                background-color: mixin.$color-white;
                                &:first-child {
                                    transform: rotate(45deg);
                                    top:8px;
                                }
                                &:nth-child(2){
                                    display: none;
                                }
                                &:last-child {
                                    top:8px;
                                    transform: rotate(-45deg);
                                }
                            }
                        }
                        span {
                            width:100%;
                            height:2px;
                            display: block;
                            background-color: mixin.$color-white;
                            position: absolute;
                            top:0px;
                            transition: 0.4s all;
                            &:nth-child(2) {
                                top:8px;
                            }
                            &:nth-child(3) {
                                top:16px;
                            }
                        }
                    }
                }
            }
        }
    }