@use '../styles/mixin.scss' as mixin;


    .hero {
        width:100%;
        height:100vh;
        margin:0px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 300px;
        @include mixin.phonelandscape {
            min-height: 550px;
        }
        @include mixin.desktop {
            min-height: 650px;
        }
        @supports (-webkit-touch-callout: none) {
            body {
                height: -webkit-fill-available;
            }
        }
        .bgimage {
            width:100%;
            height:100%;
            position: absolute;
            top:0px;
            left:0px;
            z-index: 1;
            overflow: hidden;
            img {
                width:100%;
                height:100%;
                position: relative;
                object-fit: cover;
                object-position: bottom center;
            }
        }

        .herocontainer {
            z-index: 2;
            transform: translateY(-70px);
            @include mixin.tablet {
                transform: translateY(0px);
            }
            // border:1px solid red;
            h1 {
                span {
                    white-space: nowrap;
                    display: block;
                }
                color:mixin.$color-white;
                line-height: 0.9;
            }
            h2 {
                span {
                    white-space: nowrap;
                    display: block;
                }
                color:mixin.$color-white;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                margin-top:1.7rem;
                line-height: 1.5;
                font-size:0.6rem;

                @include mixin.tablet {
                    font-size:1rem;
                }
                @include mixin.desktop {
                    font-size:1.5vw;
                }
            }
            .buttonlockup {
                position: relative;
                transform: translateY(100px);
            }
        }
        .downarrow {
            position: absolute;
            bottom:10%;
            width:40px;
            height:40px;
            z-index: 2;
            cursor: pointer;
            display: block;
            img {
                position: relative;
                width:100%;
                height:auto;
            }
            @include mixin.desktop { 
                width:60px;
                height:60px;
            }
        }
    }