@use '../../styles/mixin.scss' as mixin;

    .container {
        width:100%;
        height:90vh;
        min-height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        opacity: 1;

        @include mixin.desktop {
            min-height: 500px;
        }

        .holdphoto {
            width:100%;
            height:70vh;
            min-height: 400px;
            position: relative;
            display: block;
            img {
                width:100%;
                height:100%;
                object-fit: cover;
                object-position: center center;
            }
        }
        .myswiper {
            width:100%;
            height:100%;
            .swiperslide {
               
            }
            .swiperNav {
                width:50px;
                height:70px;
                top:50%;
                position: absolute;
                transform: translateY(-50%);
                cursor: pointer;
                z-index: 2;
                span {
                    position: absolute;
                    background-color: white;
                    width:3px;
                    height:40px;
                }
                &.swiperNavNext {
                    span {
                        &:nth-child(1) {
                            right:15px;
                            transform: rotate(-45deg);
                        }
                        &:nth-child(2) {
                            right:15px;
                            transform: rotate(45deg);
                            top:27px;
                        }
                    }
                }
                &.swiperNavPrev {
                    span {
                        &:nth-child(1) {
                            left:15px;
                            transform: rotate(45deg);
                        }
                        &:nth-child(2) {
                            left:15px;
                            transform: rotate(-45deg);
                            top:27px;
                        }
                    }
                }
            }
            .swiperNavPrev {
                left:0px;
            }
            .swiperNavNext {
                right:0px;
            }
        }
        .copyarea {
            display: flex;
            flex-direction: row;
            padding-top: 20px;
            .col {
                flex:1 auto;
                &:nth-child(2) {
                    text-align: right;
                }
                h3 {
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    @include mixin.small {
                        margin-bottom: 20px;
                    }
                }
                p {
                    text-transform: uppercase;
                    letter-spacing: 0.18em;
                    font-size: 0.5rem;
                    @include mixin.small {
                        font-size: 0.7rem;
                    }
                }
                a {
                    color:mixin.$color-darkblue;
                }
            }
        }
    }