@use '../../styles/mixin.scss' as mixin;

    .container {
        width:100%;
        height:90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:80px;
        margin-bottom:80px;

        .holdphoto {
            width:100%;
            height:100vh;
            min-height: 400px;
            position: relative;
            display: block;
            img {
                width:100%;
                height:100%;
                object-fit: cover;
                object-position: center center;
            }
        }
        .containerGlobalOverride {
            position: absolute;
            bottom:50px;

            .copyarea {
                display: flex;
                flex-direction: row;
                padding-top: 20px;
                color:mixin.$color-white;
                .col {
                    flex:1 auto;
                    &:nth-child(2) {
                        text-align: right;
                    }
                    h3 {
                        margin-bottom: 10px;
                        text-transform: uppercase;
                        @include mixin.small {
                            margin-bottom: 20px;
                        }
                    }
                    p {
                        text-transform: uppercase;
                        letter-spacing: 0.18em;
                        font-size: 0.5rem;
                        @include mixin.small {
                            font-size: 0.7rem;
                        }
                    }
                    a {
                        color:mixin.$color-white;
                    }
                }
            }
        }
    }