  @use './mixin.scss' as mixin;
  a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block;position:relative}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a,ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}*{text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;-webkit-tap-highlight-color:transparent;}*,:after,:before{box-sizing:border-box;margin:0;padding:0}	
  textarea, input, button, select { font-family: inherit; font-size: inherit; }

  html,
  body {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: 'AkkuratPro-Light';
  }
  body.noScroll {
    overflow: hidden;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  * {
    box-sizing: border-box;
  }
  h1 {
    font-size: 2.3rem;
    color:mixin.$color-white;
    font-weight: 200;
    font-style: normal;
    @include mixin.tablet {
      font-size: 4rem;
    }
    @include mixin.desktop {
      // font-size: 5rem;
      font-size:8vw;
    }
  }
  h1,h3,h4,.btn,.header {
    font-family: utile-display,sans-serif;
  }
  h2 {
    font-family: 'AkkuratPro-Regular';
    font-weight: 300;
    font-style: normal;
  }
  h3 {
   letter-spacing: 0.13em;
   font-weight: 500;
   font-size:1rem;
   @include mixin.tablet {
     font-size: 1.3rem;
   }
  }
  p {
    font-family: 'AkkuratPro-Regular';
    font-size:0.9rem;
    @include mixin.small {
      // font-size:1rem;
    }
  }
  .btn {
    color:mixin.$color-white;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    padding-bottom: 4px;
    border-bottom: 2px solid mixin.$color-pastel;
    font-size:1rem;
    font-weight: 500;
    
    @include mixin.tablet {
      font-size:1.3rem;
    }
  }
  .containerGlobal {
    width:90%;
    max-width: 1300px;
    margin:0 auto;
    position: relative;
  }
 // .boxsectionslider .swiper-slide {
  // }
  // .boxsectionslider .swiper-slide-active {
  // }