  
  $color-black:#000000;
  $color-white:#FFFFFF;
  $color-blue:#597DCC;
  $color-darkblue:#1B1E2A;
  $color-pastel:#F8CEB6;

  @mixin small {
    @media only screen and (min-width: 450px) { @content; }
  }
  
  @mixin phonelandscape {
    @media only screen and (max-height: 420px) and (max-width: 992px) and (orientation: landscape) { @content; }
  }
  @mixin tablet {
    @media only screen and (min-width: 768px) { @content; }
  }
  
  @mixin desktop {
    @media only screen and (min-width: 992px) { @content; }
  }
  @mixin desktopl {
    @media only screen and (min-width: 1200px) { @content; }
  }
  
  @mixin small_laptop_custom {
    @media only screen and (min-width: 768px) and (max-height: 700px) { @content; }
  }
  
  @font-face {
    font-family: 'AkkuratPro-Light';
    src: url('/fonts/AkkuratPro-Light.otf');
  }
  @font-face {
    font-family: 'AkkuratPro-Regular';
    src: url('/fonts/AkkuratPro-Regular.otf');
  }
